/*Footer*/

footer {
  @include flex-row;
  justify-content: space-evenly;
  padding-left: var(--spacing-xxsmall);
  padding-right: var(--spacing-xxsmall);
  background-color: map-get($color,secondary);
  align-content: center;

  .footer__socialMedia {
    @include flex-row;
    justify-content: space-between;
    align-self: center;
  }

  p {
    align-self: center;
  }

  a {
    align-self: center;
    padding: 0.5em;
    font-family: var(--font-menu);


    svg {
        width: 2em;
        height: auto;
        color: map-get($color,text-color);
    }

    &:hover {
        border-radius: 10px;
        background: map-get($color,primary-dark);
        text-decoration: none;
      }
  }
}

@media screen and (max-width: 480px) {
  /*Footer*/
  footer {
    @include flex-col;
    justify-content: space-evenly;
  }
}
