/*Footer*/

footer {
  display: flex;
  justify-content: space-evenly;
  padding-left: var(--spacing-xxsmall);
  padding-right: var(--spacing-xxsmall);
  background-color: var(--secondary);
  align-content: center;

  .footer__socialMedia {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  p {
    align-self: center;
  }

  a {
    align-self: center;
    padding: 0.5em;
    font-family: var(--font-menu);


    svg {
        width: 2em;
        height: auto;
        color: var(--text-color);
    }

    &:hover {
        border-radius: 10px;
        background: var(--primary-dark);
        text-decoration: none;
      }
  }
}

@media screen and (max-width: 480px) {
  /*Footer*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
