/*Header*/

.header {
  background-color: map-get($color,primary);
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--spacing-xxsmall);
  padding-right: var(--spacing-xxsmall);

  &__logo {
    padding-top: var(--spacing-xxsmall);

    .logo__img {
      width: 20rem;
    }
  }
  
  nav input{
    display: none;
  }

  .hamburguerMenuLabel{
    display: none;
  }

  &__navigationMenu {
    margin-right: var(--spacing-xxsmall);
    align-self: flex-end;
    padding-bottom: var(--spacing-xxsmall);
    @include flex-row;
    gap: var(--spacing-xxsmall);

   

    .header__navigationMenuItems {
      font-family: var(--font-menu);
      font-size: var(--text-small);
      color: map-get($color,base);
      padding: 1rem;
      border-radius: 10px;

      &:hover {
        background: map-get($color,primary-dark);
      }
    }

    
  }
}

@media screen and (max-width: 480px) {
  /*Header*/
  .header {
    @include flex-row;
    align-items: center;

    &__logo {
      display: inline;

      .logo__img {
        width: 15rem;
      }  
    }

    nav input{
      display: block;
    }

    #hamburguerMenuCheckbox{
      display: block;
      width: 30px;
      height: 30px;
      position:absolute;
      opacity: 0%;
    }

    

    .hamburguerMenuLabel{
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid map-get($color,text-color);
      border-radius: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      user-select: none;

      &:checked{
        background: map-get($color,primary-dark);
      }
    }

    &__navigationMenu{
      display: none;
    }

    input:checked ~ div.header__navigationMenu{
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      right: 1px;
      position: absolute;
      background: map-get($color,primary);
      border-radius: 10px;
      z-index: 10;
      box-shadow: 3px 3px 3px 3px map-get($color,primary-dark);

      &__items{
        display: block;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid map-get($color,secondary);
      }

      &__items:hover{
        background: map-get($color,primary-dark);
      }
    }
  }
}
