/*About_me*/

.about--flex{
    display: flex;
    justify-content: center;
    gap: var(--spacing-large);
    margin: var(--spacing-medium);
}

.traits{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: var(--spacing-xxsmall);
}

@media screen and (max-width: 821px){
    
    /*About_me*/
    .about--flex{
        display: flex;
        flex-direction: column;
        align-items: center;

        .portrait{
            width: 45rem;
        }

        .traits{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(4, 1fr);

            &__card1{
                grid-row: 1;
                grid-column: 1/3;
            }
            &__card2{
                grid-row: 1;
                grid-column: 3/5;
            }
        
            &__card3{
                grid-row: 2;
                grid-column: 2/4;
            }
        
            &__cardImage{
                height: 15rem;
                width: 22rem;
            }            
        }
    }   
}

@media screen and (max-width: 480px){

    /*About_me*/
    .about--flex{
        flex-direction: column;

        .portrait{
            width: 30rem;
        }

        .traits{
            display: flex;
            flex-direction: column;
            align-items: center;

            &__cardImage{
                height: auto;
            }
        }  
    }
}