/*About_me*/

.about--flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    justify-content: center;
    gap: var(--spacing-large);
    margin: var(--spacing-medium);

    .portrait{
        grid-column: 2/3
    }

    .traits{
        grid-column: 3/4;
        @include flex-col;
        align-content: center;
        gap: var(--spacing-xxsmall);
        
        font-family: var(--font-about);
        font-size: 3em;
         
        .buttonLike{
            background-color: #79F9FC;
        }

        .buttonDisLike{
            background-color: #71ABAC;
        }

        .buttonAbout{
            background-color: #FFFFFF;
        }

        .accordion-body{
            padding: var(--spacing-medium);
        }
    }
}



@media screen and (max-width: 821px){
    
    /*About_me*/
    .about--flex{
        @include flex-col;
        align-items: center;

        .portrait{
            width: 45rem;
        }

        .traits{
            @include flex-col;  
            width: 45rem; 

            .accordion-item{
                width: 100%;
            }     
        }
    }   
}

@media screen and (max-width: 480px){

    /*About_me*/
    .about--flex{

        .portrait{
            width: 30rem;
        }

        .traits{
            @include flex-col;
            width: 30rem;
            align-items: center;
        }  
    }
}