/*About_me*/

.about--flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    justify-content: center;
    gap: var(--spacing-large);
    margin: var(--spacing-medium);

    picture{
        grid-column: 2/3;

        .portrait{
            width: 100%;
        }
    }

    .traits{
        grid-column: 3/4;
        @include flex-col;
        align-content: center;
        gap: var(--spacing-xxsmall);
        
        font-family: var(--font-about);
        font-size: 3em;
         
        .buttonLike{
            background-color: #79F9FC;
        }

        .buttonDisLike{
            background-color: #71ABAC;
        }

        .buttonAbout{
            background-color: #FFFFFF;
        }

        .accordion-body{
            padding: var(--spacing-medium);
        }
    }
}

@media screen and (max-width: 1500px){
    .about--flex{
        picture{
            width: 45vw;
            .portrait{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 821px){
    
    .about--flex{
        @include flex-col;
        align-items: center;

        picture{
            width: 90%;
            .portrait{
                width: 100%;
            }
        }
        

        .traits{
            width: 90%; 

            .accordion-item{
                width: 100%;
            }     
        }
    }   
}